html {
    background-color: burlywood;
    text-align: center;
    width: 100%
}
h1 {
    color:red;
    font-size: 50px;
}
.top {
    border: 2px solid;
    border-color: black;
    border-radius: 10%;
    height: 100%;
}
.item {
    display: inline-block;
    border: 2px solid;
    border-color: black;
    border-radius: 10%;
    margin-bottom: 10px;
    height: 100%;
    max-width: 190px; 
}
img {
    border-radius: 25%;
    max-width: 95%;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    
}
